{#
/**
 * @file
 * Default theme implementation for flag links.
 *
 * Available functions:
 * - flagcount(flag, flaggable) gets the number of flaggings for the given flag and flaggable.
 *
 * Available variables:
 * - attributes: HTML attributes for the link element.
 * - title: The flag link title.
 * - action: 'flag' or 'unflag'
 * - flag: The flag object.
 * - flaggable: The flaggable entity.
 * - used_time_raw: time used in seconds
 * - used_time_formated: time used formatted for jstimer
 */
#}
{% apply spaceless %}
{# Attach the flag CSS library.#}
{{ attach_library('willdodone/timer') }}

{# Depending on the flag action, set the appropriate action class. #}
{% if action == 'unflag' %}
    {% set action_class = 'action-unflag' %}
{% else %}
    {% set action_class = 'action-flag' %}
{% endif %}

{# Set the remaining Flag CSS classes. #}
{%
  set classes = [
    'flag',
    'flag-' ~ flag.id()|clean_class,
    'js-flag-' ~ flag.id()|clean_class ~ '-' ~ flaggable.id(),
    action_class
  ]
%}

{# Set nofollow to prevent search bots from crawling anonymous flag links #}
{% set attributes = attributes.setAttribute('rel', 'nofollow') %}

<div class="{{classes|join(' ')}}">

    <a{{ attributes }}>
        <span class="material-symbols-outlined">
            {{ title }}
        </span>

    </a>{{ variable_time }} {{action }}
    <span class="timer">
    {% if action == 'flag' %}
        <span class="datetime">{{ used_time_raw }} min</span>
    {% else %}
        <span class="jst_timer">
          <span style="display:none" class="datetime">{{ used_time_formated }}</span>
          <span style="display:none" class="dir">up</span>
          <span class="format_txt" style="display:none;">%hours%:%mins%:%secs%</span>
        </span>
    {% endif %}
    </span>
</div>

    {{used_time_raw}}
    {{used_time_formated}}


{% endapply %}
